In [27]:
import pandas as pd

In [13]:
stock_HNX = pd.read_csv('./CafeF.HNX.Upto07.10.2021.csv')
stock_HSX = pd.read_csv('./CafeF.HSX.Upto07.10.2021.csv')
stock_UPCOM = pd.read_csv('./CafeF.UPCOM.Upto07.10.2021.csv')

In [14]:
def get_stock(stock_namee):
    Temp = stock_HSX[stock_HSX['<Ticker>'] == stock_namee]
    Temp = Temp[['<DTYYYYMMDD>', '<Close>']]
    Temp.columns = ['Date', 'Close']
    Temp['Date'] = pd.to_datetime(Temp['Date'], format='%Y%m%d')
    Temp = Temp.sort_values(by='Date', ascending=True)
    Temp = Temp.reset_index()
    Temp = Temp.drop('index', axis=1)
    return Temp

In [15]:
NKG = get_stock('NKG')
DIG = get_stock('DIG')

In [16]:
NKG

           Date    Close
0    2011-01-14   6.9423
1    2011-01-17   7.2674
2    2011-01-18   7.6156
3    2011-01-19   7.9871
4    2011-01-20   8.3122
...         ...      ...
2668 2021-10-01  44.8000
2669 2021-10-04  47.8000
2670 2021-10-05  47.4000
2671 2021-10-06  48.3000
2672 2021-10-07  48.2500

[2673 rows x 2 columns]

In [17]:
DIG

           Date    Close
0    2009-08-19  11.9956
1    2009-08-20  12.5408
2    2009-08-21  13.0861
3    2009-08-24  13.7222
4    2009-08-25  14.3583
...         ...      ...
3024 2021-10-01  30.5000
3025 2021-10-04  30.0500
3026 2021-10-05  31.1000
3027 2021-10-06  33.2500
3028 2021-10-07  33.2500

[3029 rows x 2 columns]

In [18]:
DIG.to_csv('DIG.csv', header=True)

In [19]:
NKG.to_csv('NKG.csv', header=True)

In [40]:
GAS = get_stock('GAS')

In [58]:
GAS.to_csv('wGAS.csv', header=True)

In [42]:
import datetime as dt

In [43]:
GAS['weekday'] = GAS['Date'].dt.dayofweek

In [48]:
GAS = GAS[GAS['weekday'] == 4]

In [49]:
GAS

           Date     Close  weekday
4    2012-05-25   23.6234        4
9    2012-06-01   22.5331        4
14   2012-06-08   22.7148        4
19   2012-06-15   22.4725        4
24   2012-06-22   23.3811        4
...         ...       ...      ...
2315 2021-08-27   87.0000        4
2323 2021-09-10   88.6000        4
2328 2021-09-17   91.9000        4
2333 2021-09-24   91.0000        4
2338 2021-10-01  103.5000        4

[470 rows x 3 columns]

In [39]:
GAS

Empty DataFrame
Columns: [Date, Close, weekday]
Index: []

In [56]:
GAS = GAS.drop('index', axis = 1)

In [54]:
GAS = GAS.reset_index()

In [57]:
GAS

          Date     Close
0   2012-05-25   23.6234
1   2012-06-01   22.5331
2   2012-06-08   22.7148
3   2012-06-15   22.4725
4   2012-06-22   23.3811
..         ...       ...
465 2021-08-27   87.0000
466 2021-09-10   88.6000
467 2021-09-17   91.9000
468 2021-09-24   91.0000
469 2021-10-01  103.5000

[470 rows x 2 columns]